@model List<Post>

    <div class="row">
        <div class="col-12">
            <h2>Posts List</h2>
            <a href="/posts/create" class="btn btn-secondary">New Posts</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 200px;">Image</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>IsActive</th>
                        <th style="width: 200px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                        <tr>
                            <td><img src="~/img/@item.Image" class="img-fluid" alt=""></td>
                            <td>@item.PostId</td>
                            <td>@item.Title</td>
                            <td>@item.IsActive</td>
                            <td>
                                <a href="/posts/edit/@item.PostId" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>