<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Techcareer.net</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam quasi nulla ut ex, omnis beatae voluptatem praesentium maxime minus, natus, officia cum adipisci similique! Ipsa delectus beatae possimus natus?</p>
        <button class="btn btn-success btn-lg">Bootcampler</button>
    </div>
</div>