@model Ogretmen

<p>
    <b>@Model.Ad @Model.Soyad</b> adlı öğretmeni silmek istediğinize emin misiniz ?

    <form asp-action="delete" method="post">
        <input type="hidden" name="id" value="@Model.OgretmenId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="index" class="btn btn-success">Hayır</a>
    </form>
</p>